*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    box-sizing: inherit;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background: #222831;
    font-family: sans-serif;
    color: #eee;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(62, 158, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    z-index: 3;
}
.nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__h1{
    margin: 0;
    color: white;
    font-size: 1.2rem;
}
.nav__ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__li{
    margin: 0 0 0 0.5rem;
}
.nav__li--a{
    /* text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    border: 2px solid white;
    color: white; */
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-size: 1rem;
}
.nav__li--a:active,
.nav__li--a:hover{
    color: rgb(62, 158, 196);
    background-color: white;
}
.card{
    position: relative;
    box-shadow: 0 0.5rem 1.5rem #eee;
    border-radius: 15px;  
}

.homeCard{
    grid-column: span 1;
    width: 100%;
    height: 35rem;
}
.homeCard > a{
    text-decoration: none;
}
.homeCard__article{
    width: 100%;
    height: 100%;
}
.homeCard__article--header{
    width: 100%;
    height: 15%;
    background-color: rgb(62, 158, 196);
    border-radius: 15px 15px 0 0;
}
.homeCard__article--heading{
    padding: 1rem;
    text-align: center;
    color: #eee;
}
.homeCard__article--figure{
    width: 100%;
    height: 70%;
}
.homeCard__article--image{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center top;
}
.homeCard__article--section{
    width: 100%;
    height: 15%;
    
}
.homeCard__article--div{
    width: 100%;
    height: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #4E4E50;
    border: none;
    color: #eee;
    cursor: pointer;
}
.homeCard__article--div:active{
    outline: 0;
}

.huisdier, .profielHuis{
    padding: 6rem 2rem 2rem 2rem;
    width: 100%;
    height: 100%;
}
.huisdier__header{
    width: 100%;
    height: 15%;
    margin-bottom: 1rem;
}
.huisdier__heading{
    text-align: center;
}
/* .huisdier__figure{
    width: 100%;
    height: 30%;
} */
.huisdier__img, .profielHuis__img{
    width: 60%;
    height: 100%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.huisdier__sectionInfo, .profielHuis__section{
    width: 100%;
    height: 18rem;
    box-shadow: 0 0.5rem 1.5rem #eee;
    border-radius: 15px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.huisdier__button{
    text-decoration: none;
    color: #eee;
    margin: 0 auto;
    width: 60%;
    height: 4rem;
    background-color: rgb(62, 158, 196);
    box-shadow: 0 0.5rem 0.5rem #eee;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    line-height: 4rem;
}
.profielHuis__Section--div{
    border-bottom: 2px solid #eee;
    margin-bottom: 2rem;
}
.profielHuis__sectionBtn{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}
.profielHuis__sectionBtn--button{
    text-decoration: none;
    color: #eee;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgb(62, 158, 196);
    box-shadow: 0 0.5rem 0.5rem #eee;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    line-height: 4rem;
}
.profielHuis__sectionBtnAdmin{
    display: grid;
    grid-template-columns: auto;
}
.profielHuis__sectionBtn--buttonAdmin{
    text-decoration: none;
    color: #eee;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgb(62, 158, 196);
    box-shadow: 0 0.5rem 0.5rem #eee;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    line-height: 4rem;
}
.uploadSection{
    height: 20rem;
}
.uploadSection__header{
    background: rgb(62, 158, 196);
    padding: 1rem;
    border-radius: 15px 15px 0 0;
}
.uploadSection__heading{
    font-size: 2rem;
}
.uploadSection_form{
    padding: 1rem;
}
.uploadSection__form--label{
    display: block;
}
.uploadSection__form--input{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.uploadSection__form--button{
    color: #eee;
    margin: 0 auto;
    width: 50%;
    height: 4rem;
    background-color: rgb(62, 158, 196);
    box-shadow: 0 0.5rem 0.5rem #eee;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    line-height: 4rem;
    font-size: 100%;
}
.filter{
    margin: 7rem auto 0 auto;
    padding: 2rem 1rem;
    width: 90vw;
    color: #eee;
    background-color: #4E4E50;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    text-align: center;
    height: 6rem;
}
.create-form{
    margin: 7rem auto 0 auto;
    padding: 3rem 2rem 2rem 2rem;
}
.create-form__form{
    width: 100%;
    max-height: 45rem;
    padding: 2rem;
}
.create-form__section{
    margin-bottom: 1rem;
    font-size: 100%;
    width: 100%;
}
.create-form__input{
    display: block;
    width: 100%;
    font-size: 100%;
    font-weight: 400;
    font-family: sans-serif;
    padding: 2px;
    outline: 0;
}
.create-from__form--button{
    width: 60%;
    height: 4rem;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    color: #eee;
    background-color: rgb(62, 158, 196);
    box-shadow: 0 0.5rem 0.5rem #eee;
}
.create-from__form--button:active{
    transform: translateY(4px);
    box-shadow: 0 0rem 0rem #eee;
}
.create-from__form--button:focus{
    outline: 0;
}
.aanvraagCard{
    margin-bottom: 3rem;
    grid-column: span 1;
}
.aanvraagCard > a{
    text-decoration: none;
}
.aanvraagCard__article{
    margin-top: 4rem;
    width: 100%;
    max-height: 25rem;
    display: block;
    margin: 0 auto;
    border: none;
    color: #eee;
    background-color: #4E4E50;
    padding: 1rem
}
.aanvraagCard__section{
    border-bottom: 2px solid #eee;
    margin-bottom: 1rem;
}
.aanvraagCard__sectionBtn{
    display: grid;
    margin-top: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: 4rem 4rem;
    gap: 2rem;
}
.aanvraagCard__sectionBtn--btn{
    border-radius: 15px;
    border: none;
    color: #eee;
    background-color: rgb(62, 158, 196);
    box-shadow: 0 0.5rem 0.5rem #eee;
    font-size: 100%;
    width: 100%;
    height: 100%;
}
/* .aanvraagCard__form-3{
    grid-column: span 2;
} */

.aanvraagCard__sectionBtn--btn:active,
.huisdier__button:active,
.profielHuis__sectionBtn--button:active,
.profielHuis__sectionBtn--buttonAdmin:active{
    transform: translateY(4px);
    box-shadow: 0 0rem 0rem #eee;
}
.aanvraagCard__sectionBtn--btn:focus,
.huisdier__button:focus,
.profielHuis__sectionBtn--button:focus,
.profielHuis__sectionBtn--buttonAdmin:focus{
    outline: 0;
}
.fotoHuis{
    display: grid;
    grid-template-columns: auto;
    gap: 2.5rem;
    padding: 8rem 2rem 2rem 2rem;
    list-style: none;
}
.fotoHuis__image{
    width: 100%;
    height: 100%;
    box-shadow: 0 0.5rem 0.5rem #eee;
    border-radius: 15px;
}

/* u classes */
.u-ul-padding{
    padding: 3rem 2rem 2rem 2rem;
}
.u-ul-padding-7{
    padding: 7rem 2rem 2rem 2rem; 
}
.u-list-style-none{
    list-style: none;
    margin-bottom: 3rem;
}
.u-section-bold{
    font-weight: bold;
}


@media(min-width: 450px){
    .homeCard{
        height: 40rem;
    }
    .huisdier__img, .profielHuis__img{
        width: 50%;
    }
    
    .huisdier__sectionInfo, .profielHuis__section{
        height: 16rem;
    }
    .huisdier__button{
        width: 50%;
    }
    .profielHuis{
        padding: 8rem 2rem 2rem 2rem;
    }
    .profielHuis__sectionBtn--buttonAdmin{
        width: 60%;
    }
    .create-from__form--button{
        width: 50%;
    }
    .aanvraagCard__sectionBtn{
        width: 70%;
        margin: 3rem auto;
    }
    .fotoHuis{
        grid-template-columns: auto auto;
    }
    .uploadSection{
        width: 80%;
        margin: 0 auto;
    }
    .u-div-width{
        width: 70%;
    }
}
@media(min-width: 550px){
    .header{
        height: 6rem;
    }
    .nav__h1{
        font-size: 1.8rem;
    }
    .nav__li--a{
        padding: 0.8rem 1.3rem;
        font-size: 1.3rem;
    }
    .filter{
        width: 50vw;
        margin: 8rem auto 0 auto;
    }
    .homeCard{
        height: 34rem;
    }
    .huisdier{
        padding: 7rem 2rem 2rem 2rem;
    }
    .huisdier__img, .profielHuis__img{
        width: 40%;
    }
    .huisdier__sectionInfo, .profielHuis__section{
        width: 75%;
        margin: 0 auto 2rem auto;
    }
    .huisdier__button{
        width: 40%;
    }
    .profielHuis__sectionBtn{
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 2.5rem;
    }
    .create-form__form{
        margin: 0 auto;
        width: 70%;
    }
    .create-from__form--button{
        width: 40%;
        font-size: 1.6rem;
    }
    .profielHuis__sectionBtn--buttonAdmin{
        width: 40%;
    }
    .aanvraagCard{
        margin-bottom: 0rem;
    }
    .aanvraagCard__article{
        height: 15rem;
    }
    .uploadSection{
        width: 60%;
    }
    .u-ul-padding-7{
        padding: 8rem 2rem 2rem 2rem;
    }
    .u-ul-grid{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 2.5rem;
    }
    /* .u-ul-padding{
        padding: 16rem 2rem 2rem 2rem;
    } */
}
@media(min-width:670px){
    .uploadSection{
        width: 50%;
    }
}
@media(min-width: 750px){
    .filter{
        width: 30vw;
    }
    .homeCard{
        height: 31rem;
    }
    .homeCard__article--div{
        font-size: 1.5rem;
    }
    .huisdier__heading{
        font-size: 4rem;
    }
    .huisdier__img, .profielHuis__img{
        width: 30%;
    }
    .huisdier__sectionInfo,.profielHuis__section{
        width: 60%;
    }
    .huisdier__button{
        width: 30%;
    }
    .profielHuis__sectionBtn{
        width: 60%;
    }
    .profielHuis__sectionBtn--buttonAdmin{
        width: 30%;
    }
    .create-form__form{
        width: 60%;
    }
    .create-from__form--button{
        font-size: 1.8rem;
        width: 30%;
    }
    .aanvraagCard__sectionBtn{
        width: 50%;
    }
    .fotoHuis{
        grid-template-columns: auto auto auto;
    }
    .uploadSection{
        height: 22rem;
    }
    .uploadSection__heading{
        font-size: 2.2rem;
    }
    .uploadSection__form--label{
        font-size: 110%;
    }
    .u-div-width{
        width: 50%;
    }
    .u-ul-grid{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
}
@media(min-width: 830px){
    .uploadSection{
        height: 20rem;
    }
}
@media(min-width: 1000px){
    .nav__h1{
        font-size: 2.4rem;
    }
    .nav__li--a{
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    } 
    .filter{
        width: 47vw;
    }
    .filter__label{
        font-size: 125%;
    }
    .homeCard{
        height: 30rem;
    }
    .homeCard__article--div{
        font-size: 1.7rem;
    }
    .huisdier__img, .profielHuis__img{
        width: 25%;
    }
    .huisdier__sectionInfo {
        font-size: 1.8rem;
    }
    .profielHuis__section{
        width: 50%;
        font-size: 1.8rem;
    }
    .profielHuis__sectionBtn{
        width: 50%;
    }
    .profielHuis__sectionBtn--buttonAdmin{
        width: 20%;
    }
    .huisdier__button{
        font-size: 130%;
    }
    .create-form__form{
        width: 40%;
    }
    .create-from__form--button{
        width: 30%;
    }
    .aanvraagCard__sectionBtn{
        width: 35%;
        margin: 3rem auto;
    }
    .fotoHuis{
        grid-template-columns: auto auto auto auto;
    }
    .uploadSection{
        height: 22rem;
        width: 40%;
    }
    .u-div-width{
        width: 35%;
    }
    .u-ul-grid{
        grid-template-columns: repeat(4,minmax(0,1fr));
        gap: 3rem;
    }
    /* .u-ul-padding{
        padding: 9rem 2rem 2rem 2rem;
    } */
}
@media(min-width: 1250px){
    .nav__li--a{
        border: 3px solid white;
    }
    .homeCard{
        height: 40rem;
    }
    .homeCard__article--heading{
        padding: 1.7rem;
    }
    .huisdier__img ,.profielHuis__img{
        width: 20%;
    }
    .huisdier__sectionInfo ,.profielHuis__section{
        width: 50%;
    }
    .huisdier__button{
        width: 20%;
    }
    .profielHuis__section{
        width: 40%;
    }
    .profielHuis__sectionBtn{
        width: 40%;
    }
    .profielHuis__sectionBtn--button, .profielHuis__Section--div{
        font-size: 120%;
    }
    .create-form__label{
        font-size: 120%;
    }
    .uploadSection{
        width: 30%;
    }
}   